@model BankApp.Application.Customers.Queries.GetCustomersListSearchNew.GetCustomersListSearchNewViewModel

@{
    var firstPage = Model.FirstPage;
    var lastPage = Model.LastPage;
    var prevPage = Model.PrevPage;
    var nextPage = Model.NextPage;
    var totalPages = Model.TotalPages;
    var currPage = Model.CurrentPage;
}

@if (this.Model.TotalPages > 1)
{
    <ul class="pagination">

        @if (prevPage > 2)
        {
            <li>
                <a asp-route-page="1" asp-route="search_index" asp-route-firstname="@Model.FirstName" asp-route-city="@Model.City">
                    1
                </a>
            </li>
        }

        @if (currPage > 1)
        {
            <li>
                <a asp-route-page="@prevPage" asp-route="search_index" asp-route-firstname="@Model.FirstName" asp-route-city="@Model.City">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a>
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
        }

        @for (int i = currPage - 2; i <= currPage + 2; i++)
        {
            if (i > 0 && i <= totalPages)
            {
                <li>
                    <a asp-route-page="@i" asp-route="search_index" asp-route-firstname="@Model.FirstName" asp-route-city="@Model.City">
                        @if (i == currPage)
                        {
                            <b>@i</b>
                        }
                        else
                        {
                            @i
                        }
                    </a>
                </li>
            }
        }

        @if (currPage < totalPages)
        {
            <li>
                <a asp-route-page="@nextPage" asp-route="search_index" asp-route-firstname="@Model.FirstName" asp-route-city="@Model.City">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a>
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        }

        @if (currPage < totalPages - 2)
        {
            <li>
                <a asp-route-page="@totalPages" asp-route="search_index" asp-route-firstname="@Model.FirstName" asp-route-city="@Model.City">
                    @totalPages
                </a>
            </li>
        }


    </ul>
}