@model List<SelectListItem>

@{
    ViewData["Title"] = $"Registered employees";
}

<div class="row">
    <div class="col m3"></div>
    <div class="col s12 m12">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Email/Username</th>
                    <th>Role</th>
                    <th>Id</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <a asp-route="user_update" asp-route-oldclaim="@user.Text.Split("*")[1]" asp-route-userid="@user.Value">@user.Text.Split("*")[0]</a>

                        </td>
                        <td>
                            <a asp-route="user_update" asp-route-oldclaim="@user.Text.Split("*")[1]" asp-route-userid="@user.Value">@user.Text.Split("*")[1]</a>
                        </td>
                        <td>
                            <a asp-route="user_update" asp-route-oldclaim="@user.Text.Split("*")[1]" asp-route-userid="@user.Value">@user.Value</a>
                        </td>
                        <td>
                            <a class="waves-effect waves-light btn" asp-route="user_update" asp-route-oldclaim="@user.Text.Split("*")[1]" asp-route-userid="@user.Value">Edit</a>
                        </td>
                        <td>
                            <a class="waves-effect waves-light btn modal-trigger red" href="#@user.Value">Delete</a>

                        </td>
                        <td>
                            <div id="@user.Value" class="modal">
                                <div class="modal-content">
                                    <h4>Are you sure?</h4>
                                    <p>Deleting this employee is a permanent action.</p>
                                </div>
                                <div class="modal-footer">
                                    <form asp-route="user_delete" asp-route-userid="@user.Value">
                                        <button type="submit" class="waves-effect waves-green btn red">Delete</button>
                                        <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
                                    </form>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col m3"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>